@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: #FF5B22;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.app {
  font-family: 'serif';
  @apply bg-gray-100 text-gray-500
}

a:hover {
  @apply transition duration-200;
  @apply text-gray-700
}

.text-gradient-blue {
  background-color: #00a0f5;
  background-image: linear-gradient(113.4deg, #00a0f5 0%, #00f7e6 100%);
  background-image: conic-gradient(113.4deg, #00a0f5 0%, #00f7e6 100%);
  background-size: 100%;
  background-repeat: no-repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

.text-gradient-pink {
  background-color: #f32fb8;
  background-image: linear-gradient(113.4deg, #f32fb8 0%, #fdd7be 100%);
  background-image: conic-gradient(113.4deg, #f32fb8 0%, #fdd7be 100%);
  background-size: 100%;
  background-repeat: no-repeat;

  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}


.grow-today {
  background-color: #f5f7f9;
  padding: 100px 0;
}

.grow-today .gap {
  row-gap: 48px;
}

.grow-today .card-grow {
  border-radius: 20px;
  background-color: #ffffff;
  overflow: hidden;
  position: relative;
}

.grow-today .card-grow img {
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
  object-fit: cover;
}

.grow-today .card-grow .badge-pricing {
  position: absolute;
  z-index: 1;
  right: 16px;
  top: 16px;
  text-align: center;
  padding: 5px 13px;
  color: #01fb34;
  font-weight: 500;
  font-size: 14px;
  background-color: #151a26;
  border-radius: 41px;
}

.grow-today .card-grow .card-content {
  padding: 20px;
}

.grow-today .card-grow .card-content .card-title {
  font-weight: 500;
  font-size: 18px;
  color: #151a26;
}

.grow-today .card-grow .card-content .card-subtitle {
  font-weight: 400;
  font-size: 14px;
  color: #a3a5aa;
  margin: 8px 0 30px;
}

.grow-today .card-grow .card-content .description {
  font-weight: 500;
  font-size: 14px;
  color: #151a26;
}

.checkout form .form-title {
  font-size: 20px;
  margin-bottom: 30px;
}

.checkout form .form-title span {
  font-weight: 400;
  color: #a3a5aa;
}

.checkout form .form-title div {
  font-weight: 500;
}

/* ---------- Container for the orbiting circles animation ---------- */
.circle-orbit-container {
  position: relative;
  top: 25px;
  left: 25px;
  height: 600px;
  width: 600px;
}

/* ---------- Inner orbit - This is the circles closest to the central point ---------- */
.inner-orbit {
  position: absolute;
  top: 135px;
  left: 135px;
  width: 225px;
  height: 225px;
  border: 2px #f377199a solid;
  border-radius: 100%;
  -webkit-animation: spin-right 25s linear infinite;
  animation: spin-right 25s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.inner-orbit-cirlces {
  position: absolute;
  top: 62px;
  left: -6px;
  height: 10px;
  width: 10px;
}

/* ---------- Middle orbit - This is the circles second closest to the central point ---------- */
.middle-orbit {
  position: absolute;
  top: 65px;
  left: 65px;
  width: 385px;
  height: 385px;
  border: 2px #f377199a solid;
  border-radius: 100%;
  -webkit-animation: spin-right 35s linear infinite;
  animation: spin-right 35s linear infinite;
}

/* ---------- Repeating styles for the inner orbiting circles ---------- */
.middle-orbit-cirlces {
  position: absolute;
  top: 25px;
  left: 17px;
  height: 20px;
  width: 20px;
}

/* ---------- Outer orbit - This is the circles furthest away from the central point ---------- */
.outer-orbit {
  position: absolute;
  top: 0;
  left: 0;
  width: 505px;
  height: 505px;
  border: 2px #f377199a solid;
  border-radius: 100%;
  -webkit-animation: spin-right 40s linear infinite;
  animation: spin-right 40s linear infinite;
}

/* ---------- Repeating styles for the outer orbiting circles ---------- */
.outer-orbit-cirlces {
  position: absolute;
  top: -17px;
  left: 125px;
  height: 30px;
  width: 30px;
}

/* ---------- Animation ---------- */

@keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@-webkit-keyframes spin-right {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ---------- Blog Card ---------- */
.card {
  background-color: white;
  color: #272727;
  padding: 20px;
  border-radius: 10px;
  border: 0px;
  border-color: tomato;
  border-style: solid;
  transition: 200ms;
  max-width: 380px;
}

.card:hover {
  transition: 200ms;
  border: 3px;
  border-color: tomato;
  border-style: solid;
}

.card-header {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

}

.profile {
  width: 2.5rem;
  height: 2.5rem;
  background-color: tomato;
  border-radius: 50%;
  margin: 10px;
  font-size: 20pt;
  text-align: center;
  font-weight: bold;
  color: white;
  justify-content: center;
}

.letter {
  vertical-align: middle;
}

.card-title-group {
  justify-content: center;
}

.card-title {
  flex: 0.5;
  font-size: large;
  margin-bottom: 0;
  margin-top: 0;
}

.card-date {
  flex: 0.3;
  font-size: small;
  margin-top: 0;
}

.card-image {
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 10px;
}

.card-like-icon {
  height: 25px;
}

.card-text {
  width: 350px;
  font-size: medium;
}

.card-like-bar {
  display: flex;
  align-items: center;
  margin-top: 20px;
  justify-content: space-between;
}

.like-text {
  font-size: small;
  margin-left: 10px;
}


/* ----------Antd------------- */
#components-tooltip-demo-placement .ant-btn {
  margin-left: 0;
  margin-right: 8px;
  margin-bottom: 8px;
  width: 70px;
  text-align: center;
  padding: 0;
}

#components-tooltip-demo-placement .ant-btn {
  margin-left: 8px;
  margin-right: 0;
}

.gutter-box {
  padding: 8px 0;
  background: #00a0e9;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #FF5B22 #ffffff;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}

*::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:hover {
  background-color: #ffffff;
}

*::-webkit-scrollbar-track:active {
  background-color: #ffffff;
}

*::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background-color: #FF5B22;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #FF5B22;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #FF5B22;
}


/* --------Category card animations-------- */
.item {
  overflow: hidden;
  cursor: pointer;
  border-radius: 4px;
  position: relative;
  margin-bottom: 20px;
}

.img {
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 4px;
  transition: all 0.7s ease;
  background-image: url("https://images.unsplash.com/photo-1560275619-4773ab57fa29?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1662&q=80");
}

.item:hover .img {
  transform: scale(1.3) rotate(3deg);
  background-color: #888;
  background-blend-mode: multiply;
}

.title {
  font-size: 3.5em;
  font-weight: 700;
  color: #fff;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 30%;
  left: 10%;
  z-index: 2;
  display: inline-block;
  padding: 15px 20px;
}

.title::after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.item:hover .title {
  top: 20%;
  transition: all 0.7s ease;
}

.item:hover .title::after {
  width: 100%;
  left: 0;
}

.item:hover .description {
  display: inline;
  text-align: center;
  position: absolute;
  bottom: 10%;
  left: 0;
  padding: 2% 4%;
  color: #fff;
}

.item2 .img {
  transform: scale(1.3);
}

.item2:hover .img {
  transform: scale(1);
}

/* h1 {
  font-family: "Amatic SC", cursive;
  font-size: 50px;
  padding-bottom: 20px;
} */

.ant-tabs-tab-active {
  background: #FF5B22 !important;
  color: white !important;
  transition: none !important;
}

.ant-tabs-tab:hover {
  background: #ff5922ba !important;
  color: white !important;
  transition: none !important;
}

.ant-tabs-content-holder {
  background: white !important;
}

.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: white !important;
}

.ant-tabs-nav-list {
  background: #f5f5f5 !important;
  margin: 5px 10px !important;
}

.ant-tabs-nav {
  width: 200px;
}

.bookingInfo {
  display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    /* height: 350px; */
}

.bookingInfo-image {
  width: 40%;
}

.bookingInfo-description {
  width: 60%;
 }

.bookingInfo-price{
  display: flex;
  justify-content: space-between;
}

/* Styles for mobile phones */
@media (max-width: 767px) {

  /* Your CSS for mobile devices here */
  .ant-tabs-nav {
    width: 100%;
  }

  .bookingInfo {
    flex-direction: column;
    /* margin-top: 200px; */
  }

  .bookingInfo-image{
    width: 100%;
  }

  .bookingInfo-description {
    width: 100%;
   }
   .bookingInfo-price{
    flex-direction: column-reverse;
   }
}


.close-menu,
.open-menu {
  position: absolute;
  cursor: pointer;
  display: none;
}

.open-menu {
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

.close-menu {
  top: 20px;
  right: 20px;
}

#check {
  display: none;
}

@media (max-width: 800px) {
  .menu {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 73%;
    height: 100vh;
    position: fixed;
    top: 0;
    right: -100%;
    z-index: 100;
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);
    color: #FF5B22;
    transition: all 0.5s ease-in-out;
    text-transform: uppercase;
    font-size: 24px;
  }

  .menu li {
    margin-top: 40px;
  }

  .menu li a {
    padding: 10px;
  }

  .close-menu,
  .open-menu {
    display: block;
  }

  #check:checked~.menu {
    right: 0;
  }
}